.img-center {
    display: inline-block;
    top: 50%;
    left: 50%;
    align-self: flex-end;
    height: max-content;
}
.header__web {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_menu h4 {
    margin-bottom: 0;
    margin-left: 30px;
    color: aliceblue;
}
