$light-theme-primary: #ffe8df;
$light-theme-secondary: #ffffff;
$light-theme-third: #f0f0f0;
$light-theme-fourth: #888888;

$dark-theme-primary: #1b262c;
$dark-theme-secondary: #0f4c75;
$dark-theme-third: #3282b8;
$dark-theme-fourth: #bbe1fa;

$success: #1a9d25;
$error: #c02d2d;
$warning: #c4d021;

$ff-primary: "Ibarra Real Nova", serif;
$ff-secondary: "Edu TAS Beginner", cursive;
$ff-third: "Great Vibes", cursive;
$ff-fourth: "Playfair Display", serif;
$ff-fifth: "Barlow Condensed", sans-serif;
