.card{
    --height-card: 100px;
    background: #fff;
    text-align: center;
    height: var(--height-card);
    line-height: var(--height-card);
    font-size: 20px;
    cursor: pointer;
    
}

.card:hover{
    background: rgb(255, 163, 163);
    color: white;
    font-weight: bold;
}


.m20{
    margin: 20px 0;
}
.container-home{
    margin-top: 5%;
}

    @media screen and (min-width: 768px) {
        .card {
          margin-bottom: 0;
        }
        
        .m20{
            margin: 0;
        }
}